header {
  height: 115px;
  background-color: hsl(232, 19%, 15%);
  text-align: center;
}

section {
  color: white;
  padding-top: 140px;
  background-color: hsl(230, 17%, 14%);
}

.navbar{
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  padding: 0.93rem 12.81rem;
  background-color: hsl(232, 19%, 15%);
}

form {
  margin-bottom: 3rem;
}

/* Button */
.titleBtn {
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(230, 22%, 74%);
  -webkit*transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-image:  linear-gradient(hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card {
  background-color: hsl(228, 28%, 20%);
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
}

.card-header {
  background-color: hsl(228, 28%, 20%);
  border-bottom: none;
  padding-top: 20px;
}

.card-footer {
  background-color: hsl(228, 28%, 20%);
  border-top: none;
}

#facebookCard {
  border-top: 5px solid hsl(195, 100%, 50%);
  max-width: 18rem;
}

.twitterCard {
  border-top: 5px solid hsl(203, 89%, 53%);
  max-width: 18rem;
}

.instagramCard {
  padding: 2px;
  background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  max-width: 18rem;
}

.youtubeCard {
  border-top: 5px solid hsl(348, 97%, 39%);
  max-width: 18rem;
}

section .card {
  padding: 20px;
  margin: 0 15px 0 15px;
  font-size: 14px;
}

section .navbar{
  background-color: hsl(230, 17%, 14%);
}
.set-row{
  /* width: 1560px; */
  margin-top: 30px;
}

.firstCol {
  margin-left: 210px;
}

.lastCol {
  margin-right: 220px;
}
.lastCol .card{
margin-left: 15px;
}
.firstCol .card{
margin-right: 15px;
}
.footer {
  margin-top: 20px;
}


.right {
  text-align: right;
}

.left {
  text-align: left;
}
.green-num{
  color: green;
  position: relative;
  top: 20px;
}
.red-num{
  color: red;
  position: relative;
    top: 20px;
}
section .col {
  display: table-cell;
  padding: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
    background-color: hsl(230, 17%, 14%);
    padding:  50px 0;
    color: hsl(0, 0%, 100%);
 }
.attribution a {
  color:hsl(228, 34%, 66%);
}
